.full-page, body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.full-page, main {
    flex: 1;
    align-items: center;
    justify-content: center;
}

.quiz {
    width: 80%;
    margin: 0 auto;
}